{% extends 'index/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="padding: 20px;"><h1 id="h1-about-me"><a name="About me" class="reference-link"></a><span class="header-link octicon octicon-link"></span>关于我</h1><hr>
        <p><strong>My name is Jiang WenMing(姜闻名),I was born in 1994s.</strong></p>
        <br>
        <p><strong>I used to major in Civil Engineering. But now, i am a fresh man on CS.</strong></p>
        <p><strong> During the past times, i am just coding and coding, learning and learning. In order to become a Web developer,</strong></p>
        <p><strong>  I’ll keep on coding and learning. By th way, i am familiar with Python, Mysql, CSS, HTML.etc. </strong></p>
        <br>
        <p><strong>In the sapce time, i will read some books, surfing the internet and do some exercise.</strong></p>
        <hr>
        <h1 id="h1-contact-me"><a name="Contact me" class="reference-link"></a><span class="header-link octicon octicon-link"></span>Contact me</h1><hr>
        <ul>
            <li><strong><a href="https://github.com/yc19890920/dblog" title="Github">Github</a></strong></li>
            <li><strong>Email: <a href="mailto:tomming233@gmail.com">1248644045@qq.com</a></strong></li>
        </ul>
        <hr>
        <h1 id="h1-suggest-me"><span class="header-link octicon octicon-link"></span>留言建议</h1><hr>
        <form class="form-inline" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <br><br>
            <input type="submit" value="Submit"  class="btn btn-primary"/>
        </form>
    </div>

{% endblock %}
