{% extends 'index/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="padding: 20px;"><h1 id="h1-about-me"><a name="About me" class="reference-link"></a><span class="header-link octicon octicon-link"></span>关于我</h1><hr>
        <p><strong>我叫Y.C.，我是1989年出生的。</strong></p>
        <br>
        <p><strong> 在过去几年，我不断编码和学习。 </strong></p>
        <p><strong>  为了成为一名优秀的Web开发人员，我会继续编码和学习。 </strong></p>
        <br>
        <p><strong>顺便说一句，我熟悉Python，Django，Gevent，Tornado，Flask，Mysql，MongoDB，CSS，HTML.etc。</strong></p>
        <p><strong>我的GitHub地址：<a src="https://github.com/yc19890920?tab=repositories" target="_blank">Y.C.GitHub</a></strong></p>
        <br>
        <p><strong>在业余时间，我会阅读一些书籍、上网和做一些运动。</strong></p>
        <hr>
        <h1 id="h1-suggest-me"><span class="header-link octicon octicon-link"></span>留言建议</h1>
        <hr>
        <form class="form-inline" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <br><br>
            <input type="submit" value="Submit"  class="btn btn-primary"/>
        </form>
    </div>

{% endblock %}
