<td>{{ number }}</td>
<td>{{ d.title|default_if_none:'' }}</td>
<td>{{ d.get_status_display }}</td>
<td>{{ d.auth|default_if_none:'' }}</td>
<td>{{ d.source|default_if_none:'' }}</td>
<td>{{ d.views }}</td>
<td>{{ d.likes }}</td>
<td>{{ d.topped_display }}</td>
<td>{{ d.created|date:"Y-m-d H:i" }}</td>
<td>{{ d.updated|date:"Y-m-d H:i" }}</td>
<td>{{ d.category.name }}</td>
<td>
    {% for t in d.get_tags %}
        <button class="btn btn-minier btn-primary"> {{ t.tag.name }}</button>
    {% endfor %}
</td>
<td>
    <a type="button" class="btn btn-minier btn-primary" href="{% url 'article_modify' d.id %}">修改</a>
    <a type="button" class="btn btn-minier btn-danger" href="Javascript: setStatus({{ d.id }}, 'delete')">删除</a>
</td>