{% extends 'blogview/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %} 关于我 {% endblock %}

{% block head_css %}
    <style>
        .control-group.has-error .control-label, .control-group.has-error .help-block, .control-group.has-error .help-inline {
            color: #D16E6C;
        }
        .control-group.has-error input, .control-group.has-error select, .control-group.has-error textarea {
            border-color: #f2a696;
            color: #D68273;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>

{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="span8">
            <p>
                <a href="http://djangoblog.com/">Django Blog </a>最初的版本（<a href="https://github.com/yc19890920/dblog" target="_blank" title="源代码">源代码</a>）是在2017年5月由<a>Y.C</a>开发，
                基于<a href="http://python.org/" target="_blank" rel="external nofollow">Python</a> 服务端框架 <a href="https://www.djangoproject.com/" target="_blank" rel="external nofollow">Django</a>，
                前端框架使用 <a href="http://getbootstrap.com/" target="_blank" rel="external nofollow">Bootstrap</a>。
                该 Blog 集成了可视化后台管理，缓存，restful API，celery，gevent等技术。
            </p>
            <p>
                顺便说一句，我熟悉Python，Django，Gevent，Tornado，Flask，Mysql，MongoDB，CSS，HTML.etc。
                我的GitHub地址：<a href="https://github.com/yc19890920?tab=repositories" target="_blank"><strong>Y.C.GitHub</strong>。</a>
            </p>
            <p>
                如果您有什么好的想法要告诉我，或者希望与我交换链接，我都表示荣幸以及对提供帮助的您的满怀感激。
            </p>

            <div id="email" style="padding-top: 50px">

                {% if messages %}
                    <article class="col-sm-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-{{ message.tags }}"></i>
                                <strong>{{ message.tags|capfirst }}</strong> {{ message }}
                            </div>
                        {% endfor %}
                    </article>
                {% endif %}

                <!--<article class="col-sm-12">
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-success"></i>
                        <strong>Success</strong> 保存成功
                    </div>
                </article>

                <article class="col-sm-12">
                    <div class="alert alert-error fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-error"></i>
                        <strong>Error</strong> 保存失败
                    </div>
                </article>-->

                <form class="form-horizontal" method="POST">
                    {% csrf_token %}

                    <fieldset>
                        <legend>留言反馈</legend>
                        <div class="control-group has-error">
                            <label class="control-label" for="form-email-name">你的名称：</label>
                            <div class="controls">
                                <input id="form-email-name" type="text" name="name" class="span3" minlength="3" maxlength="64" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="form-email-mail">你的邮箱：</label>
                            <div class="controls">
                                <input id="form-email-mail" type="email" name="mail" class="span3" minlength="6" maxlength="64" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="form-email-text">留言反馈：</label>
                            <div class="controls">
                                <textarea id="form-email-text" name="text" rows="8" class="span5" required></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="captcha span3" style="margin-left:0"></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-success input-large">发送内容</button>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>


{% endblock %}